html, body, #canvas {
	height: 100%;
	padding: 0;
	margin: 0;
}

.diagram-note {
	background-color: rgba(0, 0, 0, 0.7);
	text-align:left;
	color: White;
	border-radius: 5px;
	font-family: Arial;
	font-size: 12px;
	padding: 5px;
	min-height: 16px;
	width: 200px;
}

.needs-discussion:not (.djs-connection ) .djs-visual>:nth-child(1) {
	stroke: /*rgba(6, 180, 21, 0.7)*/red !important; /* color elements as red */
}

#save-button {
	position: fixed;
	bottom: 20px;
	left: 20px;
}

.completed-overlay {
	background-color: blue; 
	opacity: 0.3;
	pointer-events: none;
	border-radius: 5px;
}

.active-overlay {
	background-color: green;
	opacity: 0.3;
	pointer-events: none;
	border-radius: 5px;
}

.created-overlay {
	background-color: yellow;
	opacity: 0.3;
	pointer-events: none;
	border-radius: 5px;
}
